In [1]:
import pandas as pd
import wrds

In [2]:
wrds_sql = wrds.Connection()

Enter your WRDS username [Mark]:markmkx
Enter your password:········
WRDS recommends setting up a .pgpass file.
Create .pgpass file now [y/n]?: y
Created .pgpass file successfully.
Loading library list...
Done

In [4]:
comp = wrds_sql.raw_sql("""
                select gvkey, tic, fyear, ni, at,
                case when at=0 then null else ni/at end as roa
                from comp.funda
                where at is not null and indfmt = 'INDL' and datafmt = 'STD'
                and popsrc = 'D' and consol = 'C' and fyear = 2019
                order by gvkey, fyear
                """)

In [5]:
comp

       gvkey    tic   fyear        ni         at       roa
0     001004    AIR  2019.0     4.400   2079.000  0.002116
1     001045    AAL  2019.0  1686.000  59995.000  0.028102
2     001050   CECE  2019.0    17.707    408.637  0.043332
3     001062    ASA  2019.0    91.431    286.612  0.319006
4     001075    PNW  2019.0   538.320  18479.247  0.029131
...      ...    ...     ...       ...        ...       ...
7993  345920   HYFM  2019.0   -40.083    185.651 -0.215905
7994  345980   WISH  2019.0  -129.000   1366.000 -0.094436
7995  347085   KARO  2019.0    18.467    117.551  0.157098
7996  351491  IVCGF  2019.0    94.000  17847.000  0.005267
7997  351590  DTRUY  2019.0  1942.498  62131.888  0.031264

[7998 rows x 6 columns]