In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
local_sql = sqlite3.connect(':memory:')

In [4]:
hw1 = pd.read_excel("D:\Code Library\FIN3380_summer\Homework1.xlsx")
hw1

                    CompanyName   GVKEY  PERMNO       DATE
0                   Tesla, Inc.  184996   93436 2020-12-31
1                   Pfizer Inc.    8530   21936 2020-12-31
2                 Netflix, Inc.  147579   89393 2020-12-31
3                 Broadcom Inc.  180711   93002 2020-10-31
4  Advanced Micro Devices, Inc.    1161   61241 2020-12-31
5          Schlumberger Limited    9465   14277 2020-12-31
6       Micron Technology, Inc.    7343   53613 2020-08-31

In [5]:
hw1.to_sql('homework',local_sql,index = False, if_exists = 'replace')

7

In [6]:
sqlcode = """
    select date, count(date) as datecnt, count(distinct date) as ddatecnt, count(distinct permno) as dpermno
    from homework
    group by date
"""
pd.read_sql_query(sqlcode, local_sql)

                  DATE  datecnt  ddatecnt  dpermno
0  2020-08-31 00:00:00        1         1        1
1  2020-10-31 00:00:00        1         1        1
2  2020-12-31 00:00:00        5         1        5